PORT=4000
LOG_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJzZzUyMDRAc3JtaXN0LmVkdS5pbiIsImV4cCI6MTc3NzY5ODc5NywiaWF0IjoxNzc3Njk3ODk3LCJpc3MiOiJBZmZvcmQgTWVkaWNhbCBUZWNobm9sb2dpZXMgUHJpdmF0ZSBMaW1pdGVkIiwianRpIjoiNjYzMTY1OTQtYWEzMC00Yzc0LWIzN2MtNTI1N2YyZjMwZWE1IiwibG9jYWxlIjoiZW4tSU4iLCJuYW1lIjoic2Frc2hhbSBrdW1hciBnYWhvaSIsInN1YiI6ImFmMDEyZWJmLWY3YjUtNGZmNS05NTIyLTlkZDllZDg1M2Y0MiJ9LCJlbWFpbCI6InNnNTIwNEBzcm1pc3QuZWR1LmluIiwibmFtZSI6InNha3NoYW0ga3VtYXIgZ2Fob2kiLCJyb2xsTm8iOiJyYTIzMTEwNDIwMTAwMTEiLCJhY2Nlc3NDb2RlIjoiUWticHhIIiwiY2xpZW50SUQiOiJhZjAxMmViZi1mN2I1LTRmZjUtOTUyMi05ZGQ5ZWQ4NTNmNDIiLCJjbGllbnRTZWNyZXQiOiJCTmV2Z2hwUEdFQVFnRlNTIn0.E4vtxpUs2SdZDothTquuwKAvGUnfBcYSKY2-XYpgFq8